<div class="jumbotron" style="margin-top: 20%; background-color:#f5db3c">
  <h1 class="display-4">Welcome to JS Conference!</h1>
  <p class="lead">This is your chance to register for the 6th annual JS Conference at IIT Bombay.</p>
  <hr class="my-4">
  <p>Click on the button below and get started.</p>
  <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
</div>