<div id="head-register" style="text-align: center; background-color:#f5db3c;color:black; font-size:50px; margin:5%">
  Register Here :
</div>

<form method="POST" id="form" action="/">
  {{!--  --}}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" name="firstName">
    </div>
    <div class="form-group col-md-6">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" name="lastName">
    </div>
  </div>
  {{!--  --}}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="gender">Gender</label>
      <select id="gender" class="form-control" name="gender">
        <option selected>Choose...</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    {{!--  --}}
    <div class="form-group col-md-4">
      <label for="profession">Profession</label>
      <select id="profession" class="form-control" name="profession">
        <option selected>Choose...</option>
        <option> IT </option>
        <option> Management </option>
        <option> Student </option>
        <option> Content Writer </option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="experience">Experience</label>
      <input type="number" class="form-control" id="experience" name="experience">
      </select>
    </div>
  </div>
  {{!--  --}}

  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="city" name="city">
    </div>

    <div class="form-group col-md-6">
      <label for="contact">Contact</label>
      <input type="number" class="form-control" id="contact" name="contact">
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-dark">Sign Up for the Conference</button>
</form>

<script>
  //form validation!

  let fname = document.getElementById('first-name')
  let lname = document.getElementById('last-name')
  let form = document.getElementById('form')
  let gender = document.getElementById('gender')
  let profession = document.getElementById('profession')
  let exp = document.getElementById('experience')
  let contact = document.getElementById('contact')
  let address = document.getElementById('address')
  let city = document.getElementById('city')

  form.addEventListener('submit', (e) => {
    let msg = [];
    let phoneno = /^\d{10}$/;
    if (fname.value == "" || fname.value == null)
      msg.push('-->First Name should be more than 1 character')

    if (lname.value == "" || lname.value == null)
      msg.push('-->Last Name should be more than 1 character')

    if (gender.value == "Choose..." || gender.value == null)
      msg.push('-->Enter correct value for gender')
    if (profession.value == "Choose..." || profession.value == null)
      msg.push('-->Enter correct value for profession')
    if (exp.value == "" || exp.value == null)
      msg.push('-->Enter correct value for experience')
    if (contact.value == "" || contact.value == null)
      msg.push("-->Contact number cannot be blank")
    if (contact.value.length != 10)
      msg.push("-->Contact number should be of 10 digits")
    if (address.value == "" || address.value == null)
      msg.push('-->Please enter valid address')
    if (city.value == "" || city.value == null)
      msg.push('-->Please enter valid city')
    if (contact.value[0] == 0)
      msg.push("-->Contact number cannot start with 0")
    if (msg.length > 0) {
      e.preventDefault()
      let err = msg.join('\n')
      console.log(err)
      alert(err)
    }
  })



</script>